#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-searchbar {
  padding: 0 5px;
}

ion-list {
  padding: 0;
}

ion-buttons {
  margin: auto 0;
}

ion-label {
  margin: 0;
  padding: 10px 0;
  overflow: auto;
}

.gif ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
  position: relative;
}

.gif ion-spinner {
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1;
  background-color: var(--ion-color-dark);
  border: 10px solid var(--ion-color-dark);
  border-radius: 5px;
  padding: 20px;
}

.comments {
  display: block;
  width: 100%;
  margin-top: 5px;
  text-align: right;
  color: var(--ion-color-medium);
}

ion-list-header {
  align-items: center;
  background-color: var(--ion-color-light);
  border-bottom: 10px solid var(--ion-color-medium);
}

ion-list-header ion-button {
  margin: 0;
}

.preload-background {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  margin: auto;
  background: transparent;
}

ion-infinite-scroll-content {
  margin-top: 20px;
}
